<!DOCTYPE html>
<html>
<head>
  <title>Fortnite Tournament Stats</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>Fortnite Tournament Stats Viewer</h1>
  </header>
  <main>
