<!DOCTYPE html>
<html>

<link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
  <%- include('partials/header') %>
<h2>Error</h2>
<p><%= message %></p>
<a href="/">Try Again</a>
<%- include('partials/footer') %>
</div>
</body>
</html>
